name: Fetch guest tokens
on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '7 * * * *'
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: update apt
        run: sudo apt-get update
      - name: Install deps
        run: "sudo apt install -y python3-dateutil"
      - name: Fetch data
        run: |
          cd twitter-rss
          python3 generate_guest_tokens.py
          git config --global user.email "no-reply@github.com"
          git config --global user.name "GitHub Actions"
          git add guest_accounts.json
          git commit -m "Updated guest accounts"
          git push
